PORT = 8000
MONGODB_URI=mongodb+srv://kumarpotli1983_db_user:password@cluster0.nehnt3k.mongodb.net/?appName=Cluster0
Username=kumarpotli1983_db_user
 ACCESS_TOKEN_SECRET=backend
 ACCESS_TOKEN_EXPIRY=1d
 REFRESH_TOKEN_SECRET=backend-project
 REFRESH_TOKEN_EXPIRY=10d
 